body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #33272B;
    color: black;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

header {
    background-color: #BF9762;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 25px;
    width: auto;
}

nav a {
    color: #000000;
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
}

.card {
    background-color: #629dbf;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 300px;
    height: auto;
    border-radius: 15px;
}

header h1 a {
    color: inherit;
    text-decoration: none;
}

ul li a {
  text-decoration: none;
}

footer {
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 400px;
    font-size: 10px;

}

@media screen and (max-width: 500px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 90%;
    }
}

/* colors from adobe

#DC4076

#34993D

#14D924

#8F8C8D

#355938

#33272B

*/